*{margin: 0; padding:0}

/* 전체레이아웃 */
body{font-family: "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", 본고딕, "Noto Sans KR", dotum, 돋움, sans-serif; font-size: 12px; color:#000000 rgb(51, 51, 51); line-height: 16px; font-weight: normal;}
#wrap{}
#header{height: 69px; width: 100%}
#banner{width: 100%; height: 176px; background: #ffdfbf;}
#contents{width: 100%;}
#footer{width: 100%;height: 220px; background: #dddddd; margin-top: 50px;}
li{list-style: none;}
a{text-decoration: none; font-size: 16px; widht: 120px; height: 26px; line-height: 26px; font-weight: normal; color: #000000;}

/* header */
.head-top{background: #fff; display: block; width: 980px; margin: 20px auto 24px; overflow: hidden}
.headTop-left{width: 252px; height: 26px; float: left; background: #ff2626;}
.logoBox{float: left; background: url(images/renew-logo) no-repeat; width:120px; height: 26px;}
.headTop-right{width: 490px; height: 26px; float: right; }
.top-link{width: 390px; height: 26px; float: left}
.top-link>li>a{font-weight: bold}
ul>li{float:left; position: relative; margin-left: 30px; }
.buttonSearch{flat:left; width: 19px; margin-left: 25px; height: 19px; background: url(imgaes/header_img1) no-repeat ; font-size: 0; text-indent: -99px; overflow: hidden;}
.buttonMenu{float: right; width: 27px; margin-left: 25px; height: 26px; background: url(images/header_img2) no-repeat ; font-size: 0; text-indent: -99px; overflow: hidden;}
    
.head_gnb{width: 100%; height: 55px; background: #4cd2ff; line-height: 55px;}
.head_menu>li>a{color: #ffffff; font-weight: bold}
.head_menu>li:first-child{margin-right: 28px; margin-left: 15px;}
.head_menu>li+li{margin: 0 29px;}
.head_menu>li:last-child{margin: 0 0 0 30px;}

.head_menu{width: 980px; margin: 0 auto; overflow: hidden; float: left}

/* banner */
.main-visual{width: 980px; height: 176px; margin-top: 35px; background: url(images/20210314_140702) no-repeat;}
/* content1 */
.content01{width:100%; height:210px; margin-top: 30px}
.box4{width: 100%; height: 210px; border: 1px solid #bbbbbb;}




/* content3 */
.content03{width: 100%; height:210px; margin-top: 1540px;} 
.box5{width: 100%; height: 208px; border: 1px solid #bbbbbb; background: url(../images/20210314_191951) no-repeat; 0 0;}


/* content4 */
.content04{width:100%; height: 228px; margin-top: 60px;}
.box7{width: 475px; height: 224px; float: left; border: 1px solid #bbbbbb}
.box7_info{display: block; font-size: 18px; text-align: center; font-weight: bold; padding-top: 30px;}
.icon_link{padding: 0 61px; margin-top: 30px;}
.icon_circle{width: 88px; height: 88px; display: block; position: absolute; top: 0px;   left: 0; border-radius: 50%; background: #eeeeee}
.text{display: block; text-align: center; line-height: 20px; font-size: 14px;
    letter-spacing: -1px; color: #585858;}
.icon_image1{display: block; position: relative; margin: 0px 0 18px 0; z-index: 10;    text-align: center; margin-top: 10px; width: 68px; height: 67px}
.box8{width:220px; height: 224px; float: left; border: 1px solid #bbbbbb; margin-left: 30px;}
.box8_info{display: block; font-size: 18px; text-align: center; font-weight: bold;  margin-top: 30px}
.box8Info{padding-left: 0px; padding-top: 24px; width: 220px; height: 145px;}
.box8Info>li{margin-left: 36px;}
.box9{width: 220px; height: 224px; float: right; border: 1px solid #bbbbbb; margin-left: -4px;}
.box9_info{display: block; font-size: 18px; text-align: center; font-weight: bold; margin-top: 30px}
.box9Info{padding-left: 0px; padding-top: 24px; width: 220px; height: 145px;}
.box9Info>li{margin-left: 36px;}



/* footer */
.footer_box{position: relative; display: block; width: 980px; height:148px; margin: 45px auto 0; overflow: hidden;}
.footer_box>div>ul>li>a{font-size: 11px;}
.lineBar{float: left; margin-right: 5px; margin-top: 5px; width: 1px; height: 16px;
 background-color: #B4B4B4;}
 .number1{font-weight: bold; margin: 0 5px 0 0;}
 .number2{font-weight: bold; margin:0 5px 0 5px;}
 .capital{color:#888888; font-size: 11px;}
 .sns_link{margin-top: 45px}
 .sns1{float:left; background: url(images/renew-main-sns01) no-repeat;}
 .sns1{float:left; background: url(images/renew-main-sns02) no-repeat; margin-left: 15px;}
 .sns1{float:left; background: url(images/renew-main-sns03) no-repeat;  margin-left: 15px;}
 .sns1{float:left; background: url(images/renew-main-sns04) no-repeat;  margin-left: 15px;}

/* 공통속성 */
.container{ height: inherit; width: 980px; margin: 0 auto; background: rgba(0,0,0,0)}