* {
  margin: 0;
  padding: 0;
}

/* 전체레이아웃 */
body {
  font-family: "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", 본고딕,
    "Noto Sans KR", dotum, 돋움, sans-serif;
  font-size: 12px;
  color: #000000;
  line-height: 16px;
  font-weight: normal;
  overflow-x: hidden;
}
#wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#header {
  height: auto;
  width: 100%;
}
#banner {
  width: 100%;
  height: 450px;
  background: #ffdfbf;
}
#contents {
  width: 100%;
}
#footer {
  width: 100%;
  height: 220px;
  background: #f7f7f7;
  margin-top: 50px;
}
li {
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
}
img {
  border: none;
}
a {
  border: none;
}

/* 공통속성 */
.container {
  height: inherit;
  width: 980px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}

/* header */
.head-top {
  background: #fff;
  display: block;
  width: 980px;
  margin: 20px auto 24px;
  overflow: hidden;
}
.headTop-left {
  width: 320px;
  height: 26px;
  float: left;
}
.logoBox {
  float: left;
  background: url(img/renew-logo.png) no-repeat;
  width: 120px;
  height: 26px;
  display: block;
  padding-right: 20px;
}
.btn-login {
  float: left;
  margin-left: 18px;
  margin-top: 3px;
  height: 23px;
  padding: 0 5px;
  line-height: 22px;
  border: 1px solid #d3d3d3;
  text-align: center;
  font-size: 13px;
  color: #585858;
  cursor: pointer;
  background: #fff;
}
.btnCenter {
  float: left;
  margin-left: 0;
  margin-top: 3px;
  height: 23px;
  padding: 0 5px;
  line-height: 22px;
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
  font-size: 13px;
  color: #585858;
  cursor: pointer;
  background: #fff;
}
.headTop-right {
  width: 490px;
  height: 26px;
  float: right;
}
.top-link {
  width: 390px;
  height: 26px;
  float: left;
  overflow: hidden;
}
.top-link > li {
  float: left;
  position: relative;
  margin-left: 30px;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #262626;
}
.top-link > li > a {
  font-weight: bold;
}

.headTop-right > ul > li {
  float: left;
  position: relative;
  margin-left: 30px;
}
.buttonSearch {
  float: left;
  width: 25px;
  height: 25px;
  display: block;
  background: url(../img/header_img1.png) no-repeat;
  margin-left: 20px;
  margin-top: 3px;
}
.buttonMenu {
  float: right;
  width: 32px;
  height: 38px;
  background: url(../img/header_img2.png) no-repeat;
  overflow: hidden;
  display: block;
}

.head_gnb {
  width: 100%;
  height: 55px;
  background: #159cd8;
  line-height: 55px;
}
#nav {
  width: 100%;
  position: relative;
}
#nav > li {
  float: left;
  margin: -17px 30px;
}
#nav > li:first-child {
  padding-top: 16px;
}
#nav > li > a {
  display: block;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
}
#nav li .width100 {
  position: absolute;
  background: #efefef;
  width: 980px;
  height: 260px;
  top: 55px;
  left: 0;
  z-index: 99999;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 2px #c9c9c9;
  background: url(../img/menu-depth02-bg.png) repeat-y 0 0;
  padding-bottom: 40px;
  margin-top: -1px;
  display: none;
}
#nav li.cl1 .width100 {
  height: 200px;
}
#nav li.cl2 .width100 {
  height: 200px;
}
#nav > li.active > .width100 {
  display: block;
}
#nav > li > .width100 > ul {
  width: 980px;
  margin: 0 auto;
}
#nav > li > .width100 > ul > li > dl {
  float: left;
  padding-top: 30px;
  width: 25%;
  line-height: 3;
  padding-left: 20px;
  box-sizing: border-box;
}
#nav > li > .width100 > ul > li > dl > dt {
  display: block;
  padding-left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  line-height: 1;
}
#nav > li > .width100 > ul > li > dl > dd {
  font-size: 12px;
  color: #363636;
  padding-left: 0px;
  line-height: 20px;
}

#nav li.explode1 .width100 {
  height: 400px;
}
#nav li.explode2 .width100 {
  height: 350px;
}
#nav li.explode3 .width100 {
  height: 350px;
}
#nav li.explode4 .width100 {
  height: 500px;
}
#nav li.explode5 .width100 {
  height: 450px;
}
#nav li.explode6 .width100 {
  height: 550px;
}
#nav li.explode6 .width100 {
  height: 550px;
}

#nav > li {
  float: left;
}
#nav > li > a {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}
#nav > li:first-child {
  margin-right: 28px;
  margin-left: 15px;
}
#nav > li + li {
  margin: 0 29px;
}
#nav > li:last-child {
  margin: 0 0 0 30px;
}

.both {
  clear: both;
}

/* banner */
#banner {
  width: 100%;
  height: 401px;
  background: #f3eade;
}
.main-banner {
  width: 1400px;
  height: 401px;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -700px;
}
.banner-txt {
  display: block;
  position: absolute;
  top: 168px;
  left: 247px;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  color: #262626;
  letter-spacing: -2px;
}

/* content1 */
.content1 {
  width: 100%;
  height: 500px;
  background: #ffffff;
}
.fast-menu {
  width: 100%;
  height: 150px;
  background: white;
  float: left;
  position: relative;
  bottom: 75px;
  color: #000000;
  box-shadow: 1px 2px 1px #888888;
  overflow: hidden;
}
#quick-tab01 {
  display: block;
  float: left;
  height: 150px;
  width: 162px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
  border-right: 1px solid #dddddd;
}
#quick-tab01:hover {
  background: #159cd8;
}
#quick-tab01:hover a {
  background: #159cd8;
  color: #ffffff;
}
#quick-tab01 a {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#quick-tab02 {
  display: block;
  float: left;
  height: 150px;
  width: 162px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
  border-right: 1px solid #dddddd;
}
#quick-tab02 a {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#quick-tab02:hover {
  background: #159cd8;
}
#quick-tab02:hover a {
  background: #159cd8;
  color: #ffffff;
}
#quick-tab03 {
  display: block;
  float: left;
  height: 150px;
  width: 162px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
  border-right: 1px solid #dddddd;
}
#quick-tab03 a {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#quick-tab03:hover {
  background: #159cd8;
}
#quick-tab03:hover a {
  background: #159cd8;
  color: #ffffff;
}
#quick-tab04 {
  display: block;
  float: left;
  height: 150px;
  width: 162px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
  border-right: 1px solid #dddddd;
}
#quick-tab04 a {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#quick-tab04:hover {
  background: #159cd8;
}
#quick-tab04:hover a {
  background: #159cd8;
  color: #ffffff;
}
#quick-tab05 {
  display: block;
  float: left;
  height: 150px;
  width: 162px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
  border-right: 1px solid #dddddd;
}
#quick-tab05 a {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#quick-tab05:hover {
  background: #159cd8;
}
#quick-tab05:hover a {
  background: #159cd8;
  color: #ffffff;
}
#quick-tab06 {
  display: block;
  float: left;
  height: 150px;
  width: 165px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
}
#quick-tab06 a {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#quick-tab06:hover {
  background: #159cd8;
}
#quick-tab06:hover a {
  background: #159cd8;
  color: #ffffff;
}

/* 슬라이드 */
.box2 {
  width: 100%;
  height: 238px;
  background: #ffffff;
  float: left;
}
.article-box1 {
  position: relative;
  height: 210px;
  width: 48%;
  border: 1px solid #e2e2e2;
  float: left;
}
.article-box1 .slide-img1 {
  background: url(../img/renew-main-bg01.png) no-repeat;
  display: block;
  width: 100%;
  height: 230px;
  cursor: pointer;
}
.article-box1 .slide-img1 .new-text1 {
  position: absolute;
  left: 229px;
  top: 10px;
}
.article-box1 .slide-img1 .new-text1 a {
  display: inline-block;
  padding-left: 13px;
  padding-top: 2px;
  margin-top: 28px;
  font-size: 13px;
  color: #262626;
  height: 27px;
  width: 84px;
  line-height: 24px;
  border: 1px solid #d3d3d3;
  background: #fff url(../img/renew-main-arrow01.png) no-repeat 80px 11px;
  letter-spacing: -0.3px;
  cursor: pointer;
}

.article-box1 .slide-img1 .new-text1 .article-txt {
  display: block;
  margin-top: 32px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  letter-spacing: -1px;
}
.article-box1 .slide-img1 .new-text1 .article-text {
  margin-top: 12px;
  font-size: 15px;
  line-height: 22px;
  color: #585858;
}
.article-box1 .slide-img1 .new-text1 .article-text1 {
  display: block;
  margin-top: 14px;
  font-size: 14px;
  line-height: 23px;
  color: #585858;
  letter-spacing: -0.1px;
}
.slide-button {
  width: 100%;
  position: absolute;
  bottom: 18px;
  text-align: center;
}
.button1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button6 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button7 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d7da;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.button8 {
  width: 10px;
  height: 10px;
  background: url(../img/content1_box2_icon1.gif) no-repeat;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}

.article-box2 {
  position: relative;
  margin-left: 34px;
  height: 210px;
  width: 48%;
  border: 1px solid #e2e2e2;
  float: left;
}
.slide-img2 {
  background: url(../img/renew-main-bg02.png) no-repeat;
  width: 100%;
  height: 238px;
  cursor: pointer;
}
.slide-img2 .new-text2 {
  position: absolute;
  right: 30px;
  top: 30px;
}
.slide-img2 .new-text2 div .icon-new {
  display: block;
  width: 48px;
  height: 19px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 19px;
  background: url(../img/bg-new.png) no-repeat 0 0;
}
.slide-img2 .new-text2 .article-text2 {
  display: block;
  margin-top: 5px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  color: #262626;
  letter-spacing: -0.9px;
}
.slide-img2 .new-text2 .article-text3 {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 23px;
  color: #585858;
  letter-spacing: -0.1px;
}
.slide-img2 .new-text2 a {
  display: inline-block;
  padding-left: 13px;
  padding-top: 2px;
  margin-top: 28px;
  font-size: 13px;
  color: #262626;
  height: 27px;
  width: 84px;
  line-height: 24px;
  border: 1px solid #d3d3d3;
  background: #fff url(../img/renew-main-arrow01.png) no-repeat 80px 11px;
  letter-spacing: -0.3px;
  cursor: pointer;
}

.box3 {
  position: relative;
  width: 100%;
  height: 259px;
  background: #ffffff;
  float: left;
  margin-top: 35px;
}
.article-box3 {
  width: 48%;
  height: 259px;
  float: left;
  border: none;
}
.article-box3 .finance-product {
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}
.article-box3 ul {
  margin-top: 30px;
  height: 153px;
  padding-left: 8px;
}
.icon-menu {
  display: block;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 114px;
  height: 153px;
  float: left;
  position: relative;
  padding-left: 40px;
}
.icon-circle1 {
  width: 114px;
  height: 114px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
}
.icon-circle2 {
  width: 114px;
  height: 114px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
}
.icon-circle3 {
  width: 114px;
  height: 114px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
}
.icon-image1 {
  display: block;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 67px;
  margin-left: -14px;
  margin-top: 13px;
  background: url(../img/02_icon_fill01.png) no-repeat;
}
.icon-image2 {
  display: block;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 67px;
  margin-left: -14px;
  margin-top: 13px;
  background: url(../img/02_icon_fill02.png) no-repeat;
}
.icon-image3 {
  display: block;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 67px;
  margin-left: -14px;
  margin-top: 13px;
  background: url(../img/02_icon_fill03.png) no-repeat;
}
.icon-text1 {
  display: block;
  position: relative;
  top: 136px;
  left: -33px;
  color: #363636;
  letter-spacing: -1.3px;
}
.icon-text2 {
  display: block;
  position: relative;
  top: 136px;
  left: -33px;
  color: #363636;
  letter-spacing: -1.3px;
}
.icon-text3 {
  display: block;
  position: relative;
  top: 136px;
  left: -33px;
  color: #363636;
  letter-spacing: -1.3px;
}

.box-bar {
  position: absolute;
  top: 0;
  left: 489px;
  height: 220px;
  margin-left: -1px;
  width: 1px;
  background-color: #e9e9e9;
}

.article-box4 {
  width: 48%;
  height: 259px;
  float: right;
}
.quick-service {
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}
.article-box4 ul {
  margin-top: 30px;
  height: 153px;
  padding-left: 8px;
}
.icon-circle4 {
  width: 114px;
  height: 114px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
}
.icon-circle5 {
  width: 114px;
  height: 114px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
}
.icon-circle6 {
  width: 114px;
  height: 114px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
}
.icon-image4 {
  display: block;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 67px;
  margin-left: -14px;
  margin-top: 13px;
  background: url(../img/02_icon_fill01.png) no-repeat;
}
.icon-image5 {
  display: block;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 67px;
  margin-left: -14px;
  margin-top: 13px;
  background: url(../img/02_icon_fill02.png) no-repeat;
}
.icon-image6 {
  display: block;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 67px;
  margin-left: -14px;
  margin-top: 13px;
  background: url(../img/02_icon_fill03.png) no-repeat;
}
.icon-text4 {
  display: block;
  position: relative;
  top: 136px;
  left: -33px;
  color: #363636;
  letter-spacing: -1.3px;
}
.icon-text5 {
  display: block;
  position: relative;
  top: 136px;
  left: -33px;
  color: #363636;
  letter-spacing: -1.3px;
}
.icon-text6 {
  display: block;
  position: relative;
  top: 136px;
  left: -33px;
  color: #363636;
  letter-spacing: -1.3px;
}

/* content2 */
.content2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 38px;
}
.advertise-box {
  width: 726px;
  height: 247px;
  float: left;
  border: 1px solid #e2e2e2;
}
.advertise-text {
  padding: 45px 0 0 48px;
}
.advertise-text a {
  display: inline-block;
  padding-left: 15px;
  margin-top: 26px;
  font-size: 13px;
  color: #262626;
  height: 30px;
  width: 82px;
  line-height: 30px;
  border: 1px solid #e2e2e2;
  letter-spacing: -0.5px;
  background: #fff url(../img/renew-main-arrow01.png) no-repeat 80px 11px;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.advertise-text1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2.3px;
}
.advertise-text2 {
  display: block;
  margin-top: 19px;
  font-size: 14px;
  line-height: 23px;
  color: #585858;
  letter-spacing: -0.1px;
}
.advertise-text3 {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 23px;
  color: #585858;
  letter-spacing: -0.1px;
}
.advertise-img {
  background: url(../img/renew-main-banner-service01.png) no-repeat;
  display: block;
  width: 100%;
  height: 247px;
  cursor: pointer;
}
.service-box {
  width: 222px;
  height: 247px;
  float: right;
  border: 1px solid #e2e2e2;
}
.service-text {
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.service-menu {
  padding-top: 22px;
  padding-left: 24px;
}
.service-menu a {
  float: left;
  width: 160px;
  background: url(../img//bul_quick.png) no-repeat left 60%;
  padding-left: 27px;
  font-size: 14px;
  line-height: 36px;
  color: #585858;
  letter-spacing: -1px;
}

/* content3 */
.content03 {
  width: 100%;
  height: 228px;
  margin-top: 60px;
}
.box4 {
  width: 475px;
  height: 224px;
  float: left;
  border: 1px solid #bbbbbb;
}
.box4_info {
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}
.icon_link {
  padding: 0 60px;
  margin-top: 25px;
}
.icon_link > li {
  float: left;
  width: 84px;
  height: 135px;
  position: relative;
}
.icon_link > li:nth-child(2) {
  float: left;
  width: 84px;
  height: 135px;
  position: relative;
  top: 0;
  left: 48px;
}
.icon_link > li:last-child {
  float: left;
  width: 84px;
  height: 135px;
  position: relative;
  top: 0;
  right: -96px;
}
.icon_link > li > a {
  display: block;
}
.icon_circle1 {
  width: 88px;
  height: 88px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
}
.icon_circle2 {
  width: 88px;
  height: 88px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
}
.icon_circle3 {
  width: 88px;
  height: 88px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #eeeeee;
}
.text1 {
  display: block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #585858;
  padding-top: 99px;
}
.text2 {
  display: block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #585858;
  padding-top: 99px;
}
.text3 {
  display: block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #585858;
  padding-top: 99px;
}
.icon_image1 {
  display: block;
  position: absolute;
  margin: 0px 0 18px 0;
  text-align: center;
  margin-top: 10px;
  width: 81px;
  height: 67px;
  background: url(../img/03_icon_line01.png);
  margin-left: 10px;
}
.icon_image2 {
  display: block;
  position: absolute;
  margin: 0px 0 18px 5px;
  text-align: center;
  margin-top: 10px;
  width: 81px;
  height: 67px;
  background: url(../img/03_icon_line02.png);
  margin-left: 5px;
}
.icon_image3 {
  display: block;
  position: absolute;
  margin: 0px 0 18px 9px;
  text-align: center;
  margin-top: 10px;
  width: 81px;
  height: 67px;
  background: url(../img/03_icon_line03.png);
}
.box5 {
  width: 220px;
  height: 224px;
  float: left;
  border: 1px solid #bbbbbb;
  margin-left: 30px;
}
.box5_info {
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.box5Info {
  padding-left: 0px;
  padding-top: 24px;
  width: 220px;
  height: 145px;
}
.box5Info > li {
  padding-left: 30px;
  line-height: 30px;
  font-size: 12px;
  background: url(../img/renew-main-dot.png) no-repeat 10px 12px;
}
.box6 {
  width: 220px;
  height: 224px;
  float: right;
  border: 1px solid #bbbbbb;
  margin-left: -4px;
}
.box6_info {
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.box6Info {
  padding-left: 0px;
  padding-top: 24px;
  width: 220px;
  height: 145px;
}
.box6Info > li {
  padding-left: 36px;
  line-height: 30px;
  font-size: 12px;
  background: url(../img/renew-main-dot.png) no-repeat 10px 12px;
}

.footer_box {
  position: relative;
  display: block;
  width: 980px;
  height: 148px;
  margin: 45px auto 0;
  background: #f7f7f7;
  font-size: 13px;
}
.image-top {
  background: url(../img/bottom_top.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  right: 0;
  cursor: pointer;
}
.footer_box div {
  clear: both;
}
.link-footer {
  padding-top: 25px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer_box > div > ul > li > a {
  font-size: 14px;
  float: left;
  margin-right: 5px;
}
.lineBar {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
  width: 1px;
  height: 12px;
  background-color: #b4b4b4;
}
.number1 {
  font-weight: bold;
  margin: 0 5px 0 0;
}
.number2 {
  font-weight: bold;
  margin: 0 5px 0 5px;
}
.capital {
  color: #888888;
  font-size: 11px;
}
.sns_link {
  margin-top: 45px;
  overflow: hidden;
}
.sns1 {
  width: 35px;
  height: 35px;
  display: inline-block;
}
.sns2 {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
}
.sns3 {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
}
.sns4 {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
}

.family-site {
  position: absolute;
  right: 0;
  top: 118px;
}
#family-bank {
  width: 167px;
  height: 28px;
  border: 1px solid #e2e2e2;
  color: #363636;
  padding: 2px 2px 2px 5px;
}
